squid_endpoint: DIRECT

repositories:
  - atlas
  - atlas-condb
  - atlas-nightlies
  - grid
  - sft
  - sft-nightlies
  - unpacked

image_name: <WHERE YOU'VE UPLOADED THE CVMFS IMAGE>

liveness_initial_delay: 600

liveness_period: 60