squid_endpoint: DIRECT

repositories:
  - atlas
  - atlas-condb
  - atlas-nightlies
  - grid
  - sft
  - sft-nightlies
  - unpacked

image_name: <WHERE YOU'VE UPLOADED THE CVMFS IMAGE>

startup_initial_delay: 180

probe_period: 60